{% extends "auction/template.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'auction/gallery.css' %}">
{% endblock style %}

{% block title %} Gallery {% endblock title %}

{% block body %}

<div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="{% static 'auction/images/image (1).jpg' %}">
        </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="{% static 'auction/images/image (2).jpg' %}">
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="{% static 'auction/images/image (3).jpg' %}">
        </div>
        <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden=""
            checked="checked">
        <div class="carousel-item">
            <img src="{% static 'auction/images/image (4).png' %}">
        </div>
        <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden=""
            checked="checked">
        <div class="carousel-item">
            <img src="{% static 'auction/images/image (5).jpg' %}">
        </div>
        <input class="carousel-open" type="radio" id="carousel-6" name="carousel" aria-hidden="true" hidden=""
            checked="checked">
        <div class="carousel-item">
            <img src="{% static 'auction/images/image (6).png' %}">
        </div>
        <input class="carousel-open" type="radio" id="carousel-7" name="carousel" aria-hidden="true" hidden=""
            checked="checked">
        <div class="carousel-item">
            <img src="{% static 'auction/images/image (7).png' %}">
        </div>
        <input class="carousel-open" type="radio" id="carousel-8" name="carousel" aria-hidden="true" hidden=""
            checked="checked">
        <div class="carousel-item">
            <img src="{% static 'auction/images/image (8).png' %}">
        </div>
        <input class="carousel-open" type="radio" id="carousel-9" name="carousel" aria-hidden="true" hidden=""
            checked="checked">
        <div class="carousel-item">
            <img src="{% static 'auction/images/image (9).png' %}">
        </div>


        <label for="carousel-9" class="carousel-control prev control-1">‹</label>
        <label for="carousel-8" class="carousel-control prev control-9">‹</label>
        <label for="carousel-7" class="carousel-control prev control-8">‹</label>
        <label for="carousel-6" class="carousel-control prev control-7">‹</label>
        <label for="carousel-5" class="carousel-control prev control-6">‹</label>
        <label for="carousel-4" class="carousel-control prev control-5">‹</label>
        <label for="carousel-3" class="carousel-control prev control-4">‹</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>

        <label for="carousel-9" class="carousel-control next control-8">›</label>
        <label for="carousel-8" class="carousel-control next control-7">›</label>
        <label for="carousel-7" class="carousel-control next control-6">›</label>
        <label for="carousel-6" class="carousel-control next control-5">›</label>
        <label for="carousel-5" class="carousel-control next control-4">›</label>
        <label for="carousel-4" class="carousel-control next control-3">›</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control next control-9">›</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-4" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-5" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-6" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-7" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-8" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-9" class="carousel-bullet">•</label>
            </li>

        </ol>
    </div>
</div>

<div id="pagewrap">
    <div class="gallery">
        <article class="image">
            <img src="{% static 'auction/images/dark.png' %}" />
            <p>Text</p>
        </article>

        <article class="image">
            <img src="{% static 'auction/images/dark.png' %}" />
            <p>Text</p>
        </article>

        <article class="image">
            <img src="{% static 'auction/images/dark.png' %}" />
            <p>Text</p>
        </article>

        <article class="image">
            <img src="{% static 'auction/images/dark.png' %}" />
            <p>Text</p>
        </article>

        <article class="image">
            <img src="{% static 'auction/images/dark.png' %}" />
            <p>Text</p>
        </article>

        <article class="image">
            <img src="{% static 'auction/images/dark.png' %}" />
            <p>Text</p>
        </article>

    </div>
</div>


{% endblock body %}