{% extends "auction/template.html" %}
{% load static %}

{% block title %} My Listings {% endblock title %}

{% block body %}
<div id="pagewrap">
    <div class="gallery">

        {% for item in items %}
        
        <a href="{% url 'itempage' item.title %}" class="image">
            <div class="item-gallery">
                <img src="{{ item.image }}" />
                <p>{{ item.title }}</p>
                <p>{{ item.starting_bid }}$</p>
                <p>{{ item.description }}</p>
                <p>By {{ item.user}}</p>
            </div>
        </a>

        {% empty %}
        <li>No Active item</li>
        {% endfor %}

    </div>
</div>
{% endblock body %}